/*#social-buttons button {  
 color: white; 
} 
.btn-twitter {  
background-color: #00acee;  
border-color: #009ad5; 
} 
.btn-facebook {  
background-color: #4868ac;  
border-color: #314776; 
} 
.btn-pinterest {  
background-color: #b62f26;  
border-color: #b62f26; 
} 
.jumbotron {
	min-height: 600px;
	background-image: url("images/fruit-and-veg.jpg");
	background-size: cover;
	background-attachment: fixed;
}
.mission {
	background-color: rgba(32,35,41,0.9)
	color:#ddd;
}
.container-fluid {
	text-align: center
}

*/
body {
	background-image: url("backgroundpastelfade.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
background-image {
	opacity: 0.01;
}

#carousel {
	height: 400px;
	overflow: hidden;
	margin: auto;
}
#why {
	text-align:center;
}

img {
    width:400px;
    height:200px;
    vertical-align: middle;
    margin: auto;
}
.jumbotron{
	background-color:#FFD1DC;
} 
.navbar {
	background-color: #77DDAA;
}
