body {
	background-image: url("backgroundpastelfade.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    font-family: 'Kreon', serif;
}
background-image {
	opacity: 0.01;
}

#carousel {
	height: 400px;
	overflow: hidden;
	margin: auto;
}
#why {
	text-align:center;
}

.jumbotron{
	background-color:#FFD1DC;
	color: #1ac19d;
	margin-bottom: 0;
	text-align: center;
} 
.navbar {
	background-color: #1ac19d;
	border-color: #1ac19d;
}
.navbar-inverse .navbar-brand{
	color:#FFD1DC;
}
.nav.navbar-nav.navbar-right li a{
	color:#FFD1DC;
}
.carousel-inner .item img {
	width:800px;
    height:400px;
    vertical-align: middle;
    margin: auto;
    border-radius: 8px;
}
button.btn.btn-info, button.btn.btn-primary{
	background-color: #1ac19d;
	border-color:  #1ac19d;
	color:#FFD1DC;
	font-size:18px;
}
.inner {
	text-align: center;
}
.form-group {
	font-size:18px;
}
