body {
	background-image: url("backgroundpastelfade.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    font-family: 'Kreon', serif;
}
background-image {
	opacity: 0.01;
}

#carousel {
	height: 400px;
	overflow: hidden;
	margin: auto;
}
#why {
	text-align:center;
}

.jumbotron{
	background-color:#FFD1DC;
	color: #1ac19d;
	margin-bottom: 0;
	text-align: center;
} 
.navbar {
	background-color: #1ac19d;
	border-color: #1ac19d;
}
.navbar-inverse .navbar-brand{
	color:#FFD1DC;
}
.nav.navbar-nav.navbar-right li a{
	color:#FFD1DC;
}
.carousel-inner .item a img {
	width:800px;
    height:400px;
    vertical-align: middle;
    margin: auto;
    border-radius: 8px;
}
carousel-caption{
	color:gray;
}
button.btn.btn-info, button.btn.btn-primary{
	background-color: #1ac19d;
	border-color:  #1ac19d;
	color:#FFD1DC;
	font-size:18px;
}
.inner {
	text-align: center;
}
.form-group {
	font-size:18px;
}
.col-sm-6.col-xs-12 img {
	width:400px;
	height:200px;
	max-width: 100%;
}
.important{
	border:10px black;
	border-style: solid;
	border-width: thick;
	border-color: #1ac19d;
	border-radius:5px;
}
p#result {
	font-size:18px;
}
.container#exercise {
	text-align: center;
}
.home h1{
	text-align: center
}
.home a img {
	display:block;
	margin-left: auto;
	margin-right: auto;
	border-radius:50%;
}
.home h4{
	text-align: center;
}
.block img {
	display:block;
	margin-left: auto;
	margin-right: auto;
	border-radius:50%;
	width:200px;
	height:200px;
}
.container#intro {
	text-align: center;
}
.container#intro h3 {
	color:;
}
.howto {
	text-align: left;
}
.howto h3{
	color:#1ac19d;
}
.howto h4{
	color:#888888;
}
ul.nav a:hover {
  background: white !important;
}

.inner .fa{
	transition: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.inner .fa:hover , .inner .fa:focus , .inner .fa:active{
  font-size: 300%;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}